<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <style>
        #botones{
            display: flex;
        }
        #botones .btn{ 
            margin-left:15px
        }
        #facial{
            display: none;
        }
        .facial{
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 2;
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <!--Fondo dinamico-->
    <div class="bg_animate"></div>
    <div class="createUser" id="createUser">
        <form id="form" class="formulario">
            <h1>Chat</h1>
            <div id="botones">
                
            </div>
            <div class="contenedor" id="contenedor">
                
            </div>
            </form>
    </div>
    <div id="facial">
       
        <div style="position: absolute;">
            <video id="video" src=""></video>
            <div style="display: flex; justify-content: center;">
                <input id="usuarioFace" type="text" placeholder="Usuario">
                <div class="btn" id="enviarFace" style="margin: 0px; margin-left:5px">Enviar</div>
            </div>
        </div> 
        <canvas id="captura" width="680" height="480"></canvas>
    </div>
    <script>
        let activo="email"
        let inicioEmail=/*html*/`<div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            email
                            </span>
                    </div>
                    <input type="email" id="correo" required autocomplete="off" placeholder="Email">
                </div>
                <div id="alerta"></div>
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            lock_open
                            </span>
                    </div>
                    <input type="password" id="contrasena" required autocomplete="off" placeholder="Contraseña">
                </div>
                <input type="submit" value="Iniciar sesión" class="button">
                <p>¿no tienes una cuenta? <a class="link" href="/users/crearUsuario">Registrarse </a></p>`

        let inicioRFID = /*html*/`
                <div id="alerta"></div>
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            lock_open
                            </span>
                    </div>
                    <input type="password" id="rfid" required autocomplete="off" placeholder="RFID">
                </div>
                <input type="submit" value="Iniciar sesión" class="button">
                <p>¿no tienes una cuenta? <a class="link" href="/users/crearUsuario">Registrarse </a></p>`
        
        let elementoFormulario = document.getElementById('contenedor')

        function iniciarEmail(){
            activo="email"
            elementoFormulario.innerHTML=inicioEmail
            document.getElementById('botones').innerHTML='<div class="btn" onclick="iniciarRFID()">Iniciar con RFID</div><div class="btn" onclick="iniciarFacial()">Reconocimiento facial</div>'
        }

        function iniciarRFID(){
            activo="rfid"
            elementoFormulario.innerHTML=inicioRFID
            document.getElementById('botones').innerHTML='<div class="btn" onclick="iniciarEmail()">Iniciar con Email</div><div class="btn" onclick="iniciarFacial()">Reconocimiento facial</div>'
            document.getElementById('rfid').focus()
        }
        iniciarEmail()
    </script>


    <script src="/js/iniciar.js"></script>
    <script src="/js/facial.js"></script>


</body>

</html>