<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/estilos.css">
</head>

<body>
    <!--Fondo dinamico-->
    <div class="bg_animate"></div>
    
    <div class="createUser">
        <form id="form" class="formulario">

            <h1>Chat</h1>
            <div class="contenedor">
    
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            email
                            </span>
                    </div>
    
                    <input type="email" id="correo" required autocomplete="off" placeholder="Email">
    
                </div>
                <div id="alerta"></div>
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            lock_open
                            </span>
                    </div>
                    <input type="password" id="contrasena" required autocomplete="off" placeholder="Contraseña">
                </div>
                <input type="submit" value="Iniciar sesión" class="button">
                <p>¿no tienes una cuenta? <a class="link" href="/users/crearUsuario">Registrarse </a></p>
            </div>
        </form>
    </div>
    <script src="/js/iniciar.js"></script>
</body>

</html>