<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/estilos.css">
</head>

<body>
    <!--Fondo dinamico-->
    <div class="bg_animate"></div>
    
    <div class="createUser">
        <form id="form" onsubmit="registrar(event)" class="formulario">

            <h1>Chat</h1>
            <div class="contenedor">

                <div id="mensaje"></div>
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            person
                            </span>
                    </div>
    
                    <input type="text" id="user" autocomplete="off" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,48}" placeholder="Nombre">
    
                </div>
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            email
                            </span>
                    </div>
    
                    <input type="email" id="email" autocomplete="off" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Email">
    
                </div>
                <div id="alerta"></div>
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            lock_open
                            </span>
                    </div>
                    <input type="password" id="password1" required pattern="[A-Za-z0-9!?-]{8,12}" autocomplete="off" placeholder="Contraseña">
    
                </div>
                <div class="input-contenedor-one">
                    <div>
                        <span class="material-icons">
                            lock_open
                            </span>
                    </div>
    
                    <input type="password" id="password2" required pattern="[A-Za-z0-9!?-]{8,12}" autocomplete="off" placeholder="Confirmar contraseña">
    
                </div>
                <input type="submit" value="Registrarse" class="button">
                <p>¿ya tienes una cuenta? <a class="link" href="./inicio">Iniciar sesión </a></p>
            </div>
        </form>
    </div>
    <div id="avatars" style="display: none;" class="avatars">
        <div>
            <div class="titulo">
                Elige tu Avatar
            </div>
            <div class="list">
                <img src="/img/avatars/1.jpeg"/>
                <img src="/img/avatars/2.jpeg"/>
                <img src="/img/avatars/3.jpeg"/>
                <img src="/img/avatars/4.jpeg"/>
                <img src="/img/avatars/5.jpeg"/>
                <img src="/img/avatars/6.jpeg"/>
                <img src="/img/avatars/7.jpeg"/>
                <img src="/img/avatars/8.jpeg"/>
                <img src="/img/avatars/9.jpeg"/>
                <img src="/img/avatars/10.jpeg"/>
            </div>
            <div class="aceptar">
                <div id="aceptar" class="btn disabled" >Aceptar</div>
            </div>
        </div>
    </div>
    <script src="/js/registro.js"></script>
</body>

</html>